<nav class="deep-purple darken-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Social Miner</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="deep-purple darken-2 menu"><a href="#">Menu</a></li>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>