<main id="dashboard">
    <div class="container">
        <a class="btn-floating btn-large waves-effect waves-light red button-collapse" data-activates="graph-form" id="add-graph"><i class="material-icons">add</i></a>
        <div class="row">
            <div class="col s12 m6 ">
                <div class="card-panel">
                    <span class="">All Graphs will come in Cards such as these. Graph details too will have to be displayed here. Maybe a sample image of the graph or the graph itself can be rendered too.
                    </span>
                </div>
            </div>
            
        </div>
    </div>        
    {{!--Sidenav--}}
    <ul id="graph-form" class="side-nav">
        <li>
            <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Graphs</label>
        </li>
    </ul>
    
</main>