<main id="dashboard">
    <div class="container">
        <a class="btn-floating btn-large waves-effect waves-light red pulse" id="add-graph"><i class="material-icons">add</i></a>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel">
                    <span class="">All Graphs will come in Cards such as these. Graph details too will have to be displayed here. Maybe a sample image of the graph or the graph itself can be rendered too.
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</main>