<main>	
	<div class="section no-padding filter">
		<div class="row">
			<div class="col l3 s6">
				<label for="filter-1">Source</label>
				<select name="filter-1" id="filter-1">
					<option value="" disabled selected>Select option</option>
					<option value="facebook">Facebook</option>
				</select>
			</div>
			<div class="col l3 s6">
				<a href="#" data-activates="slide-out" class=" waves-effect button-collapse"><i class="material-icons">filter_list</i>Filter Columns</a>
			</div>
		</div>
	</div>
	<div class="section" id="homepage">
		<div class="" id="record-container">

		</div>
	</div>

	{{!-- Filters --}}
	<ul id="slide-out" class="side-nav">
		<li class="deep-purple darken-2 menu"><a href="#">Filters</a></li>
		
	</ul>
</main>