#homepage {
    .card {
        margin: 10px;
        font-size: 0.9rem;

        .col {
            padding: 0.75rem;
        }

        .status_message {
            width: 100%;
        }

        .label {
            display: block;
            color: #6e6e6e;
            font-size: 0.7rem;
        }
    }
}

.filter {
    background-color: white;
    .row {
        padding: 10px 0 20px;
        margin-bottom: 0;
        border-bottom: 1px solid #cecece;
    }

    a.button-collapse {
        position: relative;
        color: black;
        background-color: #f1f1f1;
        padding: 10px;
        padding-top: 0;
        border-radius: 3px;
        top: 17px;

        .material-icons {
            position: relative;
            top: 6px;
            margin-right: 10px;
        }
    }
}

.side-nav li.padding {
    padding-left: 20px;
}